@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


body{
    padding: 0;
    margin: 0;
}

#main{
    background-image: url("data/fond/1.jpg");
    background-size: cover;
    height: 100vh;
    box-shadow: rgba(50, 50, 93, 0.45) 0px 13px 27px -5px;
    
}

.navbar, #nom, .navlinks, ul, li, li a, .cta{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fff;
    background-color: transparent;
}
 




li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}


.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    transition: all 0.3s ease 0s;
    z-index: 2;
    background-color: transparent;
    /* background-color: #24252a; */
 
    position: fixed;
}


ul{
    display: flex;
}


#nom{
    width: 5%;
    height: 5%;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
}


.navlinks{
    list-style: none;
   
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
    margin-right: 20px;

 }

 .navlinks li a{
    transition: all 0.3s ease 0s;
   
    font-size: 25px;
 }

 .navlinks li a:hover{
    color : #0088a9;
    
 }

 button{ 
    padding : 9px 25px;
    background-color : rgba(0,136,169,1);
    border : none;
    border-radius : 50px;
    cursor : pointer;
    transition: all 0.3s ease 0s;
   
 }


 button:hover{
    background-color : #47CFF5;
 }


 .home{
     align-items: center;
     height: 100vh;
     color: #fff;
     min-height: 500px;
     font-family: "Montserrat", sans-serif;
     width: 100%;
 }

 .home .max-width{
    text-align: center;
 }

 .home-content{
    padding-top: 30vh;
 }


 .home .home-content #text-1{
    font-size: 60px;
 }
 .home .home-content #text-2{
    font-size: 80px;
    font-weight: 600;
    color: #27282c;
 }
 .home .home-content #text-3{
    font-size: 60px;
 }

#linkedin{
    height: 3vw;
    width: 3vw;
    transition: .5s ease;
    margin : 10px 10px 
}

#linkedin:hover {
    height: 3.5vw;
    width: 3.5vw;
}

#projets{
  
    scroll-behavior: smooth;
}



.container{
    position: relative;
    width: 40%;
    margin: auto;
    text-align: center;
}

.description{
    position: relative;
    width: 35%;
    margin: auto;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    
}


.description h2 {
    color:  #27282c;
}

.description h1 {
    font-size: 35px;
}


.techno{
    text-align: center;
}



.image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%,-50%);
    text-align : center;
}

.container:hover .image{
    opacity: 0.5;
}

.container:hover .middle{
    opacity: 1;
}

.text{
    background-color:rgba(0,136,169,0.8);
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding: 16px 32px;
}

#logolin{
    float: right;
    position: absolute;
    left: 93vw;
}

#logogit{
    float: right;
    position: absolute;
    left: 90vw;
}

#logolin:hover{
    width: 45px;
}
#logogit:hover{
    width: 45px;
}




#portfolio{
    position: absolute;
    left: 60vw;
    top:30vh;
    z-index: 1;
}

.scrollNavbar{
    background-color:#24252a; 
}

.titre-container{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    margin-top: 10vh;
}

.section-projets{
    display: flex;
}

.project{
    width: 100%;
    align-content: center;
    display: flex;
    height: 500px;
    margin-top: 10vh;
}

